<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Utterns Bank</h2>
    <hr />
    <a href="@Url.Action("Index","Home")"> Start </a>&nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Index","Transaction")">Transactions</a>&nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Index","Transfer")">Transfers</a>&nbsp;&nbsp;&nbsp;
    <hr />
    <div>
        @RenderBody()
    </div>
</body>
</html>
